html {
    height: 100%;
    width: 100%;
  }
    body {
        background-image: url(https://images.wallpapersden.com/image/download/cyberpunk-city-pixel-art_bGtnbmeUmZqaraWkpJRnZWltrWZmamc.jpg); /* Substitua 'nome-da-imagem.jpg' pelo nome do arquivo da sua imagem */
        background-size: cover; /* Faz com que a imagem cubra toda a área do fundo */
        background-position: center; /* Centraliza a imagem de fundo */
        background-repeat: no-repeat; /* Evita que a imagem se repita */
  }